/*------------------------------------------------=========
------------------------------------------------||Variables
--------------------------------------------------=========
*/
/*-----------------------------------======================
-----------------------------------||General Styles / Reset
-------------------------------------======================
*/
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
}

html p,
body p {
  margin: 1rem 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*------------------------------------------------==============
------------------------------------------------||Set Text Color
--------------------------------------------------==============
*/
.container {
  margin: auto;
  max-width: 1800px;
  padding: 0 20px;
  overflow: auto;
}

.text-primary {
  color: #c0b283;
}

.btn-light, .btn-dark {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid #c0b283;
  border-radius: 5px;
}

.btn-light {
  background-color: #f4f4f4;
  color: #373737;
}

.btn-dark {
  background: #373737;
}

.bg-primary {
  background: #c0b283;
  color: #373737;
}

.bg-secondary {
  background: #dcd0c0;
  color: #373737;
}

.bg-dark {
  background: #373737;
  color: white;
}

.bg-light {
  background: #f4f4f4;
  color: #373737;
}

.bg-white {
  background: white;
  color: #373737;
}

a {
  text-decoration: none;
  color: white;
}

ol {
  display: inline-block;
  text-align: left;
  padding-left: 20px;
}

ol li {
  list-style: decimal outside;
}

/*--------------------------------------------------=======
--------------------------------------------------||Columns
----------------------------------------------------=======
*/
.reading-page article {
  padding: 5px 20px;
  background: #f4f4f4;
  margin: 1.5rem 0;
  -webkit-column-count: 1;
          column-count: 1;
}

.reading-page article li {
  margin: 1rem 0;
}

.reading-page .bullet li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #c0b283;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

.reading-page h3 {
  display: inline-block;
  margin-top: 25px;
  position: relative;
  z-index: 1;
  font-size: 20px;
  text-align: left;
}

.reading-page h3:before {
  content: "";
  position: absolute;
  width: 75px;
  height: 5px;
  bottom: -3px;
  left: -32px;
  z-index: -1;
  background: #dcd0c0;
  border-radius: 5px;
}

.reading-page h1 {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

.reading-page a {
  color: #c0b283;
  text-decoration: underline;
}

ul {
  list-style: none;
}

h3 {
  margin-top: 30px;
  text-align: center;
  padding-top: 5px;
}

article p {
  text-align: justify;
}

.line {
  width: 100px;
  height: 2px;
  background: #c0b283;
  margin: 5px auto 1rem auto;
}

article p:first-child {
  margin-top: 0px;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .reading-page article {
    -webkit-column-gap: 40px;
            column-gap: 40px;
    -webkit-column-rule: solid 1px #dcd0c0;
            column-rule: solid 1px #dcd0c0;
  }
  #training-top {
    -webkit-column-count: 3;
            column-count: 3;
  }
  #foreword {
    -webkit-column-count: 2;
            column-count: 2;
  }
  #intro {
    -webkit-column-count: 2;
            column-count: 2;
  }
  .span-all {
    -webkit-column-span: all;
            column-span: all;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
/*---------------------------------------------------======
---------------------------------------------------||Header
-----------------------------------------------------======
*/
#navbar {
  background: #373737;
  overflow: auto;
  border-bottom: 1px solid #c0b283;
}

#navbar .leg-logo {
  height: 70px;
  width: 70px;
  background: url(../img/leg-logo.png) center center/cover;
  border-radius: 50%;
}

#navbar .logo-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
}

#navbar .logo-flex h1 {
  font-size: 2.5rem;
  margin-top: 12px;
}

#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
  padding: 5px;
}

#navbar ul li {
  list-style: none;
}

#navbar ul li a {
  display: block;
  padding: 5px;
  text-align: center;
}

#navbar ul li a.current {
  background: #c0b283;
  color: #373737;
}

.nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#showcase {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 55, 55, 0.5)), to(rgba(55, 55, 55, 0.5))), url(../img/hero.jpeg) no-repeat center center/cover;
  background: linear-gradient(rgba(55, 55, 55, 0.5), rgba(55, 55, 55, 0.5)), url(../img/hero.jpeg) no-repeat center center/cover;
  border-bottom: 1px solid #c0b283;
  overflow: hidden;
}

#showcase .showcase-content {
  color: white;
  padding: 4rem 0;
  margin-left: 33%;
  text-align: center;
  overflow: hidden;
}

#showcase h1 {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

#showcase p {
  font-size: 1.1rem;
  line-height: 2rem;
  margin: 1rem 0;
  padding-bottom: 1.1rem;
}

/*------------------------------------------------=========
------------------------------------------------||Main-Home
--------------------------------------------------=========
*/
#home-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  text-align: center;
}

#home-info .info-img {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 55, 55, 0.3)), to(rgba(55, 55, 55, 0.3))), url(../img/evaluationcamp2.jpg) no-repeat left center/cover;
  background: linear-gradient(rgba(55, 55, 55, 0.3), rgba(55, 55, 55, 0.3)), url(../img/evaluationcamp2.jpg) no-repeat left center/cover;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}

#home-info .info-content {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  padding: 3.5rem 1.75rem;
}

#home-info .info-content p {
  padding-bottom: 1.5rem;
  margin: 1rem 0;
}

#home-info .info-content h2 {
  padding-bottom: 1.4rem;
  margin-top: 3rem;
}

#home-info .info-content li {
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
}

#features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#features .box {
  text-align: center;
  padding: 3rem;
  width: 100%;
}

#features .box h3 {
  padding: 0.75rem 0;
}

#features .box p {
  margin: 0.5rem 0;
}

#features .box a {
  margin-top: 1.5rem;
}

/*------------------------------------------===============
------------------------------------------||Purpose Section
--------------------------------------------===============
*/
#purpose {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 55, 55, 0.6)), to(rgba(55, 55, 55, 0.6))), url("../img/bridge.jpeg") no-repeat center center/cover;
  background: linear-gradient(rgba(55, 55, 55, 0.6), rgba(55, 55, 55, 0.6)), url("../img/bridge.jpeg") no-repeat center center/cover;
  color: white;
  text-align: center;
  border-bottom: 1px solid #c0b283;
}

#purpose h2 {
  font-size: 2.3rem;
  margin: 1.3rem 0;
}

#purpose p {
  margin: 1rem 0;
}

/*-----------------------------------------------==========
-----------------------------------------------||About Page
-------------------------------------------------==========
*/
.group-img {
  width: 100%;
  margin: 1.5rem 0;
}

#contact-info p {
  padding: 0.3rem 0;
  text-align: center;
}

#contact-info address {
  text-align: center;
}

#our-team {
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
}

.team-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  padding: 20px 40px;
  -webkit-box-shadow: 0px 0px 10px 15px rgba(220, 208, 192, 0.8);
          box-shadow: 0px 0px 10px 15px rgba(220, 208, 192, 0.8);
  border: 1px solid #c0b283;
  text-align: center;
}

.team-box img {
  display: block;
  max-height: 100px;
  max-width: 100px;
  width: auto;
  height: auto;
  border-radius: 50%;
  margin: 10px 0;
}

/*-------------------------------------------==============
-------------------------------------------||Brace Training
---------------------------------------------==============
*/
.iframe-container {
  overflow: hidden;
  padding-top: 50%;
  position: relative;
  margin: 50px 5px;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

img {
  max-width: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: 10px auto;
}

.span-all {
  -webkit-column-span: all;
          column-span: all;
}

.center-link {
  width: 100%;
  text-align: center;
}

/*---------------------------------------------------======
---------------------------------------------------||Footer
-----------------------------------------------------======
*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f4f4f4;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

footer .footer-a {
  text-align: center;
  font-size: 0.8rem;
  margin: 5px 0;
  padding: 1rem;
  width: 100%;
}

footer .footer-b {
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #dcd0c0;
  width: 100%;
}

p.center-text {
  text-align: center;
}
