/*------------------------------------------------=========
------------------------------------------------||Variables
--------------------------------------------------=========
*/
/*-----------------------------------======================
-----------------------------------||General Styles / Reset
-------------------------------------======================
*/
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
}

h1,
h2 {
  font-family: "Kaushan Script", Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*------------------------------------------------==============
------------------------------------------------||Set Text Color
--------------------------------------------------==============
*/
.container {
  margin: auto;
  overflow: auto;
  max-width: 100%;
}

footer {
  width: 100%;
}

.text-primary {
  color: #c0b283;
}

.btn-light,
.btn-dark {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-light {
  background-color: #f4f4f4;
  border: 1px solid #dcd0c0;
  color: #373737;
}

.btn-light:hover {
  background-color: #373737;
  color: #f4f4f4;
}

.btn-dark {
  background: #373737;
  border: 1px solid #c0b283;
}

.btn-dark:hover {
  background: #dcd0c0;
  color: #373737;
}

.bg-primary {
  background: #c0b283;
  color: #373737;
}

.bg-secondary {
  background: #dcd0c0;
  color: #373737;
}

.bg-dark {
  background: #373737;
  color: white;
}

.bg-light {
  background: #f4f4f4;
  color: #373737;
}

.bg-white {
  background: white;
  color: #373737;
}

a {
  text-decoration: none;
  color: white;
}

ol {
  display: inline-block;
  text-align: left;
  padding-left: 20px;
}

ol li {
  list-style: decimal outside;
}

/*--------------------------------------------------=======
--------------------------------------------------||Columns
----------------------------------------------------=======
*/
.reading-page article {
  padding: 15px 25px;
  background: #f4f4f4;
  margin: 20px auto;
  max-width: 1600px;
  -webkit-column-rule: dotted 1px #dbe2e8;
  column-rule: dotted 1px #dbe2e8;
  -webkit-box-shadow: 0 0 10px 0 rgba(46, 60, 73, 0.2);
  box-shadow: 0 0 10px 0 rgba(46, 60, 73, 0.2);
  border: 1px solid #dbe2e8;
}

.reading-page article li {
  margin: 15px 0;
}

.reading-page article img {
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  display: block;
  margin: 10px auto;
}

.reading-page article .download {
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.reading-page article .download .dl-child {
  margin: 10px;
}

.reading-page article .download .dl-child a {
  text-decoration: none;
}

.reading-page article .download .dl-child a:hover {
  color: #373737;
}

.reading-page h3 {
  display: inline-block;
  margin-top: 10px;
  position: relative;
  z-index: 1;
  font-size: 20px;
  text-align: left;
}

.reading-page h3:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  left: -13px;
  z-index: 1000;
  background: #dcd0c0;
  border-radius: 5px;
}

.reading-page h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
  color: #373737;
}

.reading-page a {
  color: #c0b283;
  text-decoration: underline;
}

.bullet li {
  position: relative;
}

.bullet li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #c0b283;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

.bullet.centered-bullet {
  text-align: center;
}

ul {
  list-style: none;
}

h3 {
  text-align: center;
  padding-top: 5px;
  color: #373737;
}

article p {
  text-align: justify;
  margin: 16px 0;
}

.line {
  width: 80px;
  height: 2px;
  background: #c0b283;
  margin: 10px auto 25px auto;
}

article p:first-child {
  margin: 0px;
}

.img-container {
  margin: auto;
  max-width: 800px;
}

.shoe-img-container {
  margin: auto;
  max-width: 800px;
  padding-top: 75px;
}

.shoe-img-container img {
  padding-top: 25px;
}

.img-caption {
  font-size: small;
  margin: 0 auto;
  text-align: center;
}

strong {
  font-weight: inherit;
}

.bold {
  font-weight: 700;
  display: inline;
}

/*---------------------------------------------------======
---------------------------------------------------||Header
-----------------------------------------------------======
*/
#navbar {
  background: #373737;
  overflow: auto;
  border-bottom: solid 1px #c0b283;
}

#navbar .leg-logo {
  height: 50px;
  width: 50px;
  background: url(../img/leg-logo.png) center center/cover;
  border-radius: 50%;
  -o-object-fit: contain;
  object-fit: contain;
  margin-top: 14px;
}

#navbar .logo-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
}

#navbar .logo-flex h1 {
  font-size: 2.5rem;
  margin-top: 12px;
}

#navbar ul li {
  list-style: none;
}

#navbar ul li a {
  display: block;
  padding: 7px;
  text-align: center;
}

#navbar ul li a:hover {
  background: #dcd0c0;
  color: #373737;
}

#navbar ul li a.current {
  border-bottom: 1px solid #c0b283;
}

.nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#showcase {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 55, 55, 0.5)), to(rgba(55, 55, 55, 0.5))), url(../img/compressedhero2.jpeg) no-repeat center center/cover;
  background: linear-gradient(rgba(55, 55, 55, 0.5), rgba(55, 55, 55, 0.5)), url(../img/compressedhero2.jpeg) no-repeat center center/cover;
  border-bottom: 1px solid #c0b283;
  overflow: hidden;
}

#showcase h1 {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

#showcase p {
  font-size: 1.1rem;
  line-height: 2rem;
  margin: 1rem 0;
  padding-bottom: 1.1rem;
}

.showcase-content {
  color: white;
  padding: 4rem 0;
  margin-left: 110px;
  text-align: center;
  overflow: hidden;
}

/*------------------------------------------------=========
------------------------------------------------||Main-Home
--------------------------------------------------=========
*/
#home-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  text-align: center;
}

#home-info .info-img {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 55, 55, 0.4)), to(rgba(55, 55, 55, 0.4))), url(../img/YourBraceBox_Cropped.jpg) no-repeat left center/cover;
  background: linear-gradient(rgba(55, 55, 55, 0.4), rgba(55, 55, 55, 0.4)), url(../img/YourBraceBox_Cropped.jpg) no-repeat left center/cover;
  -ms-flex-preferred-size: 500px;
  flex-basis: 500px;
}

#home-info .info-content {
  padding: 40px 20px;
  margin: 0 auto;
}

#home-info .info-content p {
  margin: 30px 0;
}

#home-info .info-content h2 {
  margin: 20px auto;
}

#home-info .info-content li {
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
}

#features {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#features .box {
  text-align: center;
  padding: 3rem;
  width: 100%;
}

#features .box h3 {
  padding: 0.75rem 0;
}

#features .box p {
  margin: 0.5rem 0;
}

#features .box a {
  margin-top: 1.5rem;
}

/*------------------------------------------===============
------------------------------------------||Purpose Section
--------------------------------------------===============
*/
#purpose {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 55, 55, 0.6)), to(rgba(55, 55, 55, 0.6))), url("../img/bridge.jpeg") no-repeat center center/cover;
  background: linear-gradient(rgba(55, 55, 55, 0.6), rgba(55, 55, 55, 0.6)), url("../img/bridge.jpeg") no-repeat center center/cover;
  color: white;
  text-align: center;
  border-bottom: 1px solid #c0b283;
}

#purpose h2 {
  font-size: 2.3rem;
  margin: 1.3rem 0;
}

#purpose p {
  margin: 1rem 0;
}

.purpose-content {
  max-width: 90%;
  margin: 0 auto;
  padding: 25px 0;
}

/*-----------------------------------------------==========
----------------------------------------------||Ideal Brace
-------------------------------------------------==========
*/
/*-----------------------------------------------==========
-----------------------------------------------||About Page
-------------------------------------------------==========
*/
.about-page h2 {
  text-align: center;
}

.group-img {
  -o-object-fit: contain;
  object-fit: contain;
  display: block;
  margin: 10px auto;
  width: 100%;
  margin: 10px auto;
}

#contact-info p {
  text-align: center;
}

address {
  text-align: center;
}

#our-team {
  padding: 5px 20px;
}

.team-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.team-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px 0;
  padding: 20px 40px;
  border: 1px solid #c0b283;
  text-align: center;
  max-width: 400px;
}

.team-box img {
  display: block;
  max-height: 100px;
  max-width: 100px;
  width: auto;
  height: auto;
  border-radius: 50%;
  margin: 10px 0;
  border: 1px solid #dcd0c0;
}

/*-------------------------------------------==============
------------------------------------------||Technical Terms
---------------------------------------------==============
*/
/*-------------------------------------------==============
-------------------------------------------||Brace Training
---------------------------------------------==============
*/
.iframe-container {
  overflow: hidden;
  padding-top: 50%;
  position: relative;
  margin: 15px auto;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.span-all {
  -webkit-column-span: all;
  column-span: all;
}

.center-link {
  width: 100%;
  text-align: center;
}

.bullet {
  padding-left: 10px;
}

#acknowledgements ul {
  text-align: center;
}

/*---------------------------------------------------======
---------------------------------------------------||Footer
-----------------------------------------------------======
*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #f4f4f4;
  max-width: 1600px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px 0 rgba(46, 60, 73, 0.2);
  box-shadow: 0 0 10px 0 rgba(46, 60, 73, 0.2);
  border: 1px solid #dbe2e8;
}

footer .footer-a {
  text-align: center;
  font-size: 0.8rem;
  margin: 5px auto;
  padding: 1rem;
  width: 85%;
}

footer .footer-b {
  text-align: center;
  padding: 1rem;
}

.center-text {
  text-align: center;
}

@media (min-width: 481px) {
  .nav-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .nav-flex ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  #navbar .leg-logo {
    margin: 3px 0 5px 0;
  }

  #navbar .logo-flex h1 {
    margin-top: 0;
  }

  #navbar ul li {
    padding-left: 7px;
  }

  .showcase-content {
    margin-left: 140px;
  }
}

@media (min-width: 667px) {
  .container {
    max-width: 98%;
  }

  .showcase-content {
    margin-left: 175px;
  }
}

@media (min-width: 768px) {
  .showcase-content {
    margin-left: 300px;
    padding: 5rem 0;
    margin-right: 50px;
  }

  #home-info .info-content {
    max-width: 60%;
  }

  #home-info .info-content h2 {
    font-size: 3rem;
  }

  .purpose-content {
    max-width: 50%;
  }

  .sometimes-center {
    text-align: center;
  }

  .flex-dbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  }

  .reading-page h3 {
    margin-top: 35px;
  }

  #additional,
  #acknowledgements {
    text-align: center;
  }

  #additional .line,
  #acknowledgements .line {
    margin: 10px auto 0 auto;
  }

  #additional h1,
  #acknowledgements h1 {
    margin-bottom: 10px;
  }

  #additional h3,
  #acknowledgements h3 {
    display: block;
    text-align: center;
    -webkit-column-span: all;
    column-span: all;
    margin: 10px 0 35px;
  }

  #additional h3::before,
  #acknowledgements h3::before {
    display: none;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 900px;
  }

  article h3:first-child {
    margin: 0;
  }

  .showcase-content {
    padding: 125px 0;
    margin-left: 450px;
  }

  #showcase h1 {
    font-size: 3.5rem;
  }

  #features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  #features .box {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  #purpose h2 {
    font-size: 3rem;
  }

  #purpose p {
    font-size: 1.2rem;
  }

  .span-all {
    -webkit-column-span: all;
    column-span: all;
  }

  .reading-page h1 {
    font-size: 2rem;
  }

  .reading-page article {
    -webkit-column-gap: 40px;
    column-gap: 40px;
  }

  .flex-dbs {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  }

  .video-top {
    -webkit-column-span: all;
    column-span: all;
    padding-top: 45%;
    max-width: 800px;
  }

  #training-top {
    -webkit-column-count: 2;
    column-count: 2;
  }

  #foreword {
    -webkit-column-count: 2;
    column-count: 2;
  }

  #intro {
    -webkit-column-count: 3;
    column-count: 3;
  }

  #intro .flex-dbs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #equipment {
    -webkit-column-count: 2;
    column-count: 2;
  }

  #optimal-standing {
    -webkit-column-count: 2;
    column-count: 2;
  }

  #hip-rotation {
    -webkit-column-count: 2;
    column-count: 2;
  }

  #side-to-sides {
    -webkit-column-count: 2;
    column-count: 2;
  }

  #heel-strike {
    -webkit-column-count: 2;
    column-count: 2;
  }

  #drag {
    -webkit-column-count: 2;
    column-count: 2;
  }

  #additional {
    -webkit-column-count: 1;
    column-count: 1;
  }

  #acknowledgements {
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 1224px) {
  .container {
    width: 1500px;
  }

  #showcase {
    height: 85vh;
  }

  #showcase h1 {
    font-size: 4.5rem;
    line-height: 5rem;
  }

  #showcase p {
    font-size: 1.4rem;
  }

  .showcase-content {
    padding: 250px 0 0 0;
  }

  #home-info .info-content {
    width: 600px;
    padding: 80px 20px;
  }

  #home-info .info-content h2 {
    font-size: 3.5rem;
  }

  #home-info .info-content li,
  #home-info .info-content p {
    font-size: 1.3rem;
  }

  #home-info .info-img {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    height: 95vh;
  }

  #features .box {
    padding: 5rem;
  }

  #purpose {
    background-attachment: fixed;
  }

  #purpose .purpose-content {
    padding: 200px 0;
  }

  #purpose .purpose-content h2 {
    font-size: 3.5rem;
  }

  #purpose .purpose-content p {
    font-size: 1.5rem;
  }

  #about,
  #what,
  #donate {
    padding: 25px 400px;
    text-align: center;
  }

  #story {
    -webkit-column-count: 2;
    column-count: 2;
  }

  #story h1 {
    margin: 0;
  }

  .video-top {
    padding-top: 20%;
    max-width: 700px;
  }

  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  footer .footer-a {
    width: 50%;
  }

  footer .footer-b {
    width: 50%;
    border: none;
    border-right: 1px dotted #dbe2e8;
  }

  footer .footer-b p {
    margin-top: 10px;
  }

  #training-top {
    -webkit-column-count: 5;
    column-count: 5;
  }

  #foreword {
    -webkit-column-count: 2;
    column-count: 2;
  }

  #intro {
    -webkit-column-count: 5;
    column-count: 5;
  }

  #intro .flex-dbs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #equipment {
    -webkit-column-count: 2;
    column-count: 2;
  }

  #optimal-standing {
    -webkit-column-count: 2;
    column-count: 2;
  }

  #hip-rotation {
    -webkit-column-count: 2;
    column-count: 2;
  }

  #side-to-sides {
    -webkit-column-count: 2;
    column-count: 2;
  }

  #heel-strike {
    -webkit-column-count: 3;
    column-count: 3;
  }

  #drag {
    -webkit-column-count: 2;
    column-count: 2;
  }

  #additional {
    -webkit-column-count: 2;
    column-count: 2;
  }

  #acknowledgements {
    -webkit-column-count: 3;
    column-count: 3;
  }
}