/*------------------------------------------------=========
------------------------------------------------||Variables
--------------------------------------------------=========
*/
/*------------------------------------------------==============
------------------------------------------------||Set Text Color
--------------------------------------------------==============
*/
.container {
  margin: auto;
  max-width: 1280px;
  padding: 0 20px;
  overflow: auto;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
/*-----------------------------------======================
-----------------------------------||General Styles / Reset
-------------------------------------======================
*/
html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*---------------------------------------------------======
---------------------------------------------------||Header
-----------------------------------------------------======

*/
#navbar {
  background: #373737;
  overflow: auto;
  border-bottom: 1px solid #C0B283;
}

#navbar .leg-logo {
  height: 85px;
  width: 70px;
  background: url(../img/leg-logo.png) center center/cover;
  border-radius: 50%;
}

#navbar .logo-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#navbar .logo-flex h1 {
  font-size: 2.5rem;
}

#navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
  padding: 5px;
}

#navbar ul li {
  border-bottom: #f4f4f4 1px dotted;
}

#navbar ul li:last-child {
  border-bottom: none;
}

#navbar ul li a {
  display: block;
  padding: 5px;
  text-align: center;
}

#navbar ul li a.current {
  background: #C0B283;
  color: #373737;
}

#navbar a {
  color: #f4f4f4;
  text-decoration: none;
}

.nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#showcase {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 55, 55, 0.5)), to(rgba(55, 55, 55, 0.5))), url(../img/hero.jpeg) no-repeat right center/cover;
  background: linear-gradient(rgba(55, 55, 55, 0.5), rgba(55, 55, 55, 0.5)), url(../img/hero.jpeg) no-repeat right center/cover;
  height: 50vh;
}
*/
#navbar {
  background: var(--dark);
  color: var(--white);
  overflow: auto;
  border-bottom: 1px solid var(--primary);
}

#navbar a {
  color: var(--white);
}

.flex-header {
  display: flex;
  justify-content: space-between;
}

.flex-header ul {
  display: flex;
}

h1.logo::before {
  content: '';
  height: 50px;
  width: 50px;
  background: url('../img/leg-logo.png') center center/cover;
  float: left;
  margin-top: 3px;
  padding-bottom: 5px;
}

h1.logo span {
  visibility: hidden;
}

#navbar h1 {
  font-size: 3rem;
}

#navbar ul {
  list-style: none;
  margin: 0;
}


#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a.current {
  background: var(--primary);  
  color: var(--dark);
}

#navbar ul li a:hover {
  color: var(--dark);
  background: var(--secondary);
}

/*-------------------------------------------------========
-------------------------------------------------||Showcase
---------------------------------------------------========
*/
#showcase {
  background: linear-gradient(rgba(55, 55, 55, 0.5), rgba(55, 55, 55, 0.5)), 
  url("../img/hero.jpeg") no-repeat center center/cover;
  height: 100vh;
}

#showcase .showcase-content {
  color: var(--white);
  padding-top: 250px;
  margin-left: 35%;
  text-align: center;
}

#showcase .showcase-content h1 {
  font-size: 5rem;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 2rem;
}

/*------------------------------------------------=========
------------------------------------------------||Home Info
--------------------------------------------------=========
*/

#home-info {
  display: flex;
  justify-content: stretch;
}

#home-info .info-img {
  flex-basis: 50%;
  background: url("../img/evaluationcamp2.jpg") no-repeat center center/cover;
}

#home-info .info-content {
  flex-basis: 50%;
  text-align: center;
  padding: 50px 30px;
}

#home-info .info-content p {
  padding-bottom: 30px;
}

#home-info .info-content ul li {
  list-style: none;
  line-height: 1.75rem;
}

.info-content h2 {
  margin-top: 50px;
}


/*-------------------------------------------------========
-------------------------------------------------||Features
---------------------------------------------------========
*/
.box {
  float: left;
  width: 25%;
  padding: 50px;
  text-align: center;
  border: 1px dotted var(--secondary);
}

#features {
  height: 100%;
}

.box i {
  margin-bottom: 10px;
}

/*-----------------------------------------------==========
-----------------------------------------------||About Info
-------------------------------------------------==========
*/
#about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
  margin-top: 45px;
}

#about-info .info-right img {
  width: 70%;
  display: block;
  margin: auto;
  border-radius: 50%;
}

#about-info .info-left {
  float: left;
  width: 43%;
  min-height: 100%;
}

#about-info .info-right p,
#about-info .info-right h2 {
  padding: 10px;
  text-align: center;
}

/*---------------------------------------------============
---------------------------------------------||Testimonials
-----------------------------------------------============
*/
#testimonials {
  height: 100%;
  background: linear-gradient(rgba(55, 55, 55, 0.7), rgba(55, 55, 55, 0.7)), 
  url("../img/bridge-light.jpeg") no-repeat center/cover;
  padding-top: 100px;
  background-attachment: fixed;
}

#testimonials .testimonial img {
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

#testimonials h2 {
  color: var(--white);
  text-align: center;
  padding-bottom: 40px;
}

#testimonials .testimonial {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  /* opacity: 0.9; */
}

/*---------------------------------------------============
---------------------------------------------||Contact Form
-----------------------------------------------============
*/
#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px var(--dark) solid;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: var(--primary);
}

/*---------------------------------------------============
---------------------------------------------||Bottom Image
-----------------------------------------------============
*/

.purpose {
  background: linear-gradient(rgba(55, 55, 55, 0.7), rgba(55, 55, 55, 0.7)), 
  url("../img/casting.jpg") no-repeat center center/cover;
  background-size: cover;
  color: #f4f4f4;
  height: 75vh;
  text-align: center;
}

.purpose h2 {
  font-size: 3.5rem;
  padding-top: 200px;
  margin: 0 30px;
}

/*-------------------------------------------------========
-------------------------------------------------||Training
---------------------------------------------------========
*/
.main-training {
  text-align: center;
  margin:0;
  padding: 0;
  padding: 2rem;
  background: var(--paper);
  padding: rem;
}

.training {
  column-count: 1;
  column-gap: 3rem;
  padding-bottom: 2rem;
  column-rule: solid 2px var(--secondary);
}

.main-training section h4,
.main-training section p,
.main-training section ul {
  text-align: left;
}

.main-training section h4,
.main-training section h2 {
  padding-top: 2rem;
}

.main-training section ul {
  list-style-position: inside;
  margin: 1rem 0;
}

.training img {
  width: 90%;
}

#braceimg {
  width: 40%;
  float: right;
}

iframe {
  border-radius: 10px;
}



/*---------------------------------------------------======
---------------------------------------------------||Footer
-----------------------------------------------------======
*/
footer {
  color: var(--dark);
  background-color: var(--paper);
  text-align: center;
  display: flex;
  justify-content: stretch;
  border: 1px dotted var(--secondary);
}

.footer-left {
  flex: 1;
  margin: auto;
  padding: 0 5%;
  text-align: center;
  border-right: 1px dotted var(--secondary);
}

.footer-right {
  flex: 1;
  margin: auto;
  padding: 0 5%;
  border-left: 1px dotted var(--secondary);
}
