/*------------------------------------------------=========
------------------------------------------------||Variables
--------------------------------------------------=========
*/
$container-width: 1280px;
$dark-color: #373737;
$light-color: #f4f4f4;
$primary-color: #C0B283;
$secondary-color: #DCD0C0;
$logo-image: url(../img/leg-logo.png);
$showcase-image: url(../img/hero.jpeg);
$info-image: url(../img/evaluationcamp2.jpg);



/*------------------------------------------------==============
------------------------------------------------||Set Text Color
--------------------------------------------------==============
*/
@function set-text-color($color) {
  @if(lightness($color) > 50) {
    @return #000;
  }

  @else {
    @return #fff;
  }
}