//Phones, iPhone 6 and later
@media (min-width: 481px) {
	.nav-flex {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		ul {
			display: flex;
		}
	}

	#navbar {
		.leg-logo {
			margin: 3px 0 5px 0;
		}

		.logo-flex {
			h1 {
				margin-top: 0;
			}
		}

		ul {
			li {
				padding-left: 7px;
			}
		}
	}

	.showcase-content {
		margin-left: 140px;
	}
}

//iPhone 6/7/8 landscape
@media (min-width: 667px) {
	.container {
		max-width: 98%;
	}

	.showcase-content {
		margin-left: 175px;
	}
}

//iPads portrait
@media (min-width: 768px) {
	.showcase-content {
		margin-left: 300px;
		padding: 5rem 0;
		margin-right: 50px;
	}

	#home-info {
		.info-content {
			max-width: 60%;
			h2 {
				font-size: 3rem;
			}
		}
	}

	.purpose-content {
		max-width: 50%;
	}

	.sometimes-center {
		text-align: center;
	}

	.flex-dbs {
		display: flex;
		flex-direction: row-reverse;
		justify-content: left;
	}

	.reading-page {
		h3 {
			margin-top: 35px;
		}
	}

	#additional,
	#acknowledgements {
		.line {
			margin: 10px auto 0 auto;
		}

		h3 {
			margin-top: 10px;
		}
	}
}

//iPads landscape
@media (min-width: 1024px) {
	.container {
		width: 900px;
	}

	.showcase-content {
		padding: 125px 0;
		margin-left: 450px;
	}

	#showcase {
		h1 {
			font-size: 3.5rem;
		}
	}

	#features {
		display: flex;

		.box {
			align-self: stretch;
		}
	}

	#purpose {
		h2 {
			font-size: 3rem;
		}

		p {
			font-size: 1.2rem;
		}
	}

	.span-all {
		column-span: all;
	}

	.reading-page {
		h1 {
			font-size: 2rem;
		}

		article {
			column-gap: 40px;
			column-rule: solid 1px $secondary-color;
		}
	}

	.flex-dbs {
		justify-content: left;
	}

	//column rules
	#training-top {
		column-count: 2;
	}

	#foreword {
		column-count: 2;
	}

	#intro {
		column-count: 3;
		.flex-dbs {
			flex-direction: column;
		}
	}

	#equipment {
		column-count: 2;
	}

	#optimal-standing {
		column-count: 2;
	}

	#hip-rotation {
		column-count: 2;
	}

	#side-to-sides {
		column-count: 2;
	}

	#heel-strike {
		column-count: 2;
	}

	#drag {
		column-count: 2;
	}

	#additional {
		column-count: 1;
	}

	#acknowledgements {
		column-count: 1;
	}

	.video-top {
		column-span: all;
		padding-top: 25%;
		max-width: 550px;
	}
}

//Desktops 1224-1920
@media (min-width: 1224px) {
	.container {
		width: 1000px;
	}

	#showcase {
		height: 85vh;

		h1 {
			font-size: 4.5rem;
			line-height: 5rem;
		}

		p {
			font-size: 1.4rem;
		}
	}

	.showcase-content {
		padding: 250px 0 0 0;
	}

	#home-info {
		.info-content {
			width: 600px;
			padding: 80px 20px;

			h2 {
				font-size: 3.5rem;
			}

			li,
			p {
				font-size: 1.3rem;
			}
		}
	}

	#home-info {
		.info-img {
			flex-basis: auto;
			height: 95vh;
		}
	}

	#features {
		.box {
			padding: 5rem;
		}
	}

	#purpose {
		background-attachment: fixed;
		.purpose-content {
			padding: 200px 0;

			h2 {
				font-size: 3.5rem;
			}

			p {
				font-size: 1.5rem;
			}
		}
	}

	#about,
	#what,
	#donate {
		padding: 25px 400px;
		text-align: center;
	}

	#story {
		column-count: 2;
		h1 {
			margin: 0;
		}
	}

	footer {
		flex-direction: row-reverse;
		border: 1px solid $secondary-color;

		.footer-a {
			width: 50%;
		}

		.footer-b {
			width: 50%;
			border: none;
			border-right: 1px solid $secondary-color;
			p {
				margin-top: 10px;
			}
		}
	}

	//column rules
	#training-top {
		column-count: 5;
	}
	#foreword {
		column-count: 2;
	}

	#intro {
		column-count: 5;
		.flex-dbs {
			flex-direction: column;
		}
	}

	#equipment {
		column-count: 2;
	}

	#optimal-standing {
		column-count: 2;
	}

	#hip-rotation {
		column-count: 2;
	}

	#side-to-sides {
		column-count: 2;
	}

	#heel-strike {
		column-count: 2;
	}

	#drag {
		column-count: 2;
	}

	#additional {
		column-count: 1;
	}

	#acknowledgements {
		column-count: 1;
	}
}
