.container {
  margin: auto;
  max-width: $container-width;
  padding: 0 20px;
  overflow: auto;
}

.text-primary {
  color: $primary-color;
}

%btn {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid $primary-color;
  border-radius: 5px;
}

.btn-light {
  @extend %btn;
  background-color: $light-color;
  color: $dark-color;
}

.btn-dark {
  @extend %btn;
  background: $dark-color;
}

.bg-primary {
  background: $primary-color;
  color: $dark-color;
}

.bg-secondary {
  background: $secondary-color;
  color: $dark-color;
}

.bg-dark {
  background: $dark-color;
  color: white;
}

.bg-light {
  background: $light-color;
  color: $dark-color;
}

.bg-white {
  background: white;
  color: $dark-color;
}

a {
  text-decoration: none;
  color: white;
}

ol {
  display: inline-block;
  text-align: left;
  padding-left: 20px;

  li {
    list-style: decimal outside;
  }
}

/*--------------------------------------------------=======
--------------------------------------------------||Columns
----------------------------------------------------=======
*/
.reading-page {
  article {
    padding: 5px 20px;
    background: $light-color;
    margin: 1.5rem 0;
    column-count: 1;

    li {
      margin: 1rem 0;
      text-align: center;
    }

    p {
      text-align: justify;
    }
  }

  .bullet {
    li {
      &::before {
        content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: $primary-color; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
      }
    }
  }

  h2,
  h1 {
    display: inline-block;
    margin-top: 25px;
    position: relative;
    z-index: 1;
    font-size: 30px;

    &:before {
      content: "";
      position: absolute;
      width: 75px;
      height: 5px;
      bottom: -3px;
      left: -32px;
      z-index: -1;
      background: $secondary-color;
      border-radius: 5px;
    }
  }

  a {
    color: $dark-color;
    text-decoration: underline;
  }
}

ul,
ol {
  list-style: none;
}

h3 {
  margin-top: 30px;
  text-align: center;
  padding-top: 5px;
}
