@import 'config';
@import 'utilities';
@import 'media';

/*-----------------------------------======================
-----------------------------------||General Styles / Reset
-------------------------------------======================
*/
html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------------------------======
---------------------------------------------------||Header
-----------------------------------------------------======
*/

// Navigation
#navbar {
  background: $dark-color;
  overflow: auto; 
  border-bottom: 1px solid $primary-color;

  .leg-logo {
    height: 70px;
    width: 70px;
    background: $logo-image center center/cover;
    border-radius: 50%;    
  }

  .logo-flex {
    display: flex;
    padding-right: 30px;

    h1 {
      font-size: 2.5rem;
      margin-top: 12px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 5px;

    li {
      a {
        display: block;
        padding: 5px;
        text-align: center;

        &.current {
          background: $primary-color;
          color: $dark-color;
        }
      }
    }
  }
}

.nav-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//Showcase
#showcase {
  background: linear-gradient(rgba(55, 55, 55, 0.5),
rgba(55, 55, 55, 0.5)), $showcase-image no-repeat center center/cover;
  border-bottom: 1px solid $primary-color;

  .showcase-content {
    color: white;
    padding: 4rem 0;
    margin-left: 33%;
    text-align: center;
  }

  h1 {
    font-size: 3.1rem;
    line-height: 3.5rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 2rem;
    margin: 1rem 0;
    padding-bottom: 1.1rem ;
  }
}

/*------------------------------------------------=========
------------------------------------------------||Main-Home
--------------------------------------------------=========
*/
// Intro box
#home-info {
  display: flex;
  flex-direction: column-reverse;
  justify-content: stretch;
  text-align: center;

  .info-img {
    background: $info-image no-repeat left center/cover;
    flex-basis: 500px;
  }

  .info-content {
    flex-basis: 500px;
    padding: 3.5rem 1.75rem;

    p {
      padding-bottom: 1.5rem;
      margin: 1rem 0;
    }

    h2 {
      padding-bottom: 1.4rem;
      margin-top: 3rem;
    }

    li {
      line-height: 1.5rem;
      margin-bottom: .75rem;
    }
  }
}

// Icon Boxes
#features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  text-align: center;
  padding: 3rem;
  width: 100%;

  h3 {
    padding: .75rem 0;
  }

  p {
    margin: .5rem 0;
  }
}